body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(238, 238, 238);
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    min-height: 300px;
    width: 400px;
    background-color: white;
}
.main > input{
    width: 280px;
    border: 1px solid brown;
    border-radius: 5px;
    outline: brown;
    padding: 10px 20px;
}
.main > button{
    border: none;
    color: white;
    font-weight: bold;
    padding: 12px 16px;
    border-radius: 5px;
    background-color: crimson;
}
.result{
    width: auto;
    height: 300px;
    padding: 20px;
    background-color: antiquewhite;
    margin-top: 20px;
    border-radius: 5px;
}